Repository hikiko4ern/coub-addons: changes, and which lefthook commands are due for each by the changed paths.
All: biome, dprint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}'
      run: pnpm biome check --apply --error-on-warnings {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,json5,md,toml}'
      run: pnpm dprint fmt {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{css,scss,html,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true
    type-check:
      run: pnpm tsc --noEmit
    spell-check:
      run: pnpm cspell lint --no-progress --no-summary --no-must-find-files {staged_files}

chore(build,segmenter-utils): simplify reproducible builds when building from scratch
  .gitignore
  .prettierignore
  Cargo.toml
  README.md
  Taskfile.yml
  cspell.json
  packages/segmenter-utils/Taskfile.yml
  packages/segmenter-utils/package.json
  pnpm-lock.yaml
  rust-toolchain.toml
Due: dprint, prettier

chore(release): v0.1.22
  CHANGELOG.md
  package.json
Due: dprint

feat(jst): return the publication date to popular and community timelines
  README.md
  cspell.json
  src/entrypoints/keyboardShortcuts.content/index.ts
  src/entrypoints/keyboardShortcuts.content/patches/CoubBlockClientside/patchCoubBlockClientside.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/patchHtml5Player.ts
  src/entrypoints/keyboardShortcuts.content/types.ts
  src/entrypoints/popularAndCommunityTimelines.content/constants.ts
  src/entrypoints/popularAndCommunityTimelines.content/index.ts
  src/entrypoints/popularAndCommunityTimelines.content/patches/JST/constants.ts
  src/entrypoints/popularAndCommunityTimelines.content/patches/JST/index.ts
  src/entrypoints/popularAndCommunityTimelines.content/patches/JST/patchJst.ts
  src/entrypoints/popularAndCommunityTimelines.content/patches/JST/revertJstPatches.ts
  src/helpers/patch/applyPatches.ts
  src/helpers/prependJqListener.ts
  src/types/jst.ts
  src/types/window.ts
  src/utils/unloadHandler/onContentScriptUnload.ts
  src/utils/unloadHandler/removeOldUnloadHandlers.ts
Due: biome, dprint

chore: remove `clipboardWrite` permission
  wxt.config.ts
Due: biome

chore: localize extension name and description
  src/public/_locales/en/messages.json
  src/public/_locales/ru/messages.json
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  wxt.config.ts
Due: biome, dprint

chore(release): v0.1.23
  CHANGELOG.md
  package.json
Due: dprint

chore: include only used `react-aria` locales
  package.json
  pnpm-lock.yaml
  src/entrypoints/options/main.tsx
  wxt.config.ts
Due: biome, dprint, prettier

chore: remove an unused attempt counter from the `ErrorBoundary`
  src/entrypoints/options/components/ErrorBoundary/index.tsx
Due: biome

refactor: deduplicate and asynchronously load `segmenter-utils` WASM
  packages/segmenter-utils/package.json
  packages/segmenter-utils/src/sync.ts
  packages/segmenter-utils/test/index.test.ts
  src/storage/base.ts
  src/storage/phrasesBlocklist/helpers/getMatchedPhrase.ts
  src/storage/phrasesBlocklist/helpers/parsePhrasesBlocklist.ts
  src/storage/phrasesBlocklist/helpers/phrasesTree.ts
  src/storage/phrasesBlocklist/helpers/segmenter.ts
  src/storage/phrasesBlocklist/helpers/segmenterUtils.ts
  src/storage/phrasesBlocklist/index.ts
  src/types/util.ts
  test/storage/phrasesBlocklist/helpers/getMatchedPhrase.test.ts
  test/storage/phrasesBlocklist/helpers/phrasesToTree.test.ts
  test/storage/phrasesBlocklist/helpers/segmenterUtils.ts
  wxt.config.ts
Due: biome, dprint

docs(internal): add an English readme, contributing, and instructions for the AMO review
  .env.production
  CONTRIBUTING.md
  Cargo.toml
  README.md
  README.ru.md
  SOURCE_CODE_REVIEW.md
  Taskfile.yml
  cspell.json
  package.json
  packages/@nextui-org/react-rsc-utils/README.md
  pnpm-lock.yaml
  utils/bump.js
  wxt.config.ts
Due: biome, dprint, prettier

feat(blocklist): make comments origin permission optional
  src/entrypoints/options/pages/BlocklistPage/components/BlocklistSettings/index.tsx
  src/permissions/constants.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  wxt.config.ts
Due: biome

fix(hotkey,media-session): fix removal of old unload handlers
  src/utils/unloadHandler/onContentScriptUnload.ts
  src/utils/unloadHandler/removeOldUnloadHandlers.ts
Due: biome

chore(utils): add a command to check the build reproducibility
  CONTRIBUTING.md
  cspell.json
  package.json
  pnpm-lock.yaml
  utils/testBuildRepro.ts
Due: biome, dprint, prettier

feat(updates): add automatic updates
  .env
  .env.production
  .gitattributes
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  biome.json
  cspell.json
  docs/updates.json
  dprint.json
  env.ts
  package.json
  pnpm-lock.yaml
  utils/genUpdateInfoHtml.js
  wxt.config.ts
Due: biome, dprint, prettier

chore(changelog): add commit refs to changelog and omit internal updates
  cliff.toml
Due: dprint

chore(release): v0.1.24
  CHANGELOG.md
  docs/release-notes/0.1.24.html
  package.json
Due: dprint, prettier

chore(release): add v0.1.24 to `updates.json`
  docs/updates.json
Due: dprint

fix(channel-dropdown): add a block button via the `ChannelDropdown` patch instead of `MutationObserver`
  src/entrypoints/channelDropdown.content/constants.ts
  src/entrypoints/channelDropdown.content/helpers/addBlockButtonToChannelDropdown.ts
  src/entrypoints/channelDropdown.content/index.ts
  src/entrypoints/channelDropdown.content/patches/widgets/constants.ts
  src/entrypoints/channelDropdown.content/patches/widgets/index.ts
  src/entrypoints/channelDropdown.content/patches/widgets/patchWidgets.ts
  src/entrypoints/channelDropdown.content/patches/widgets/revertWidgetsPatches.ts
  src/entrypoints/channelDropdown.content/types.ts
  src/entrypoints/keyboardShortcuts.content/patches/CoubBlockClientside/constants.ts
  src/entrypoints/popularAndCommunityTimelines.content/patches/JST/patchJst.ts
  src/helpers/isElement.ts
  src/js/createAddChannelBlockButton.ts
  src/js/siteLocale.ts
  src/translation/dom.ts
  src/types/window.ts
Due: biome

fix: fix random invalidation of content scripts immediately after loading
  patches/wxt@0.18.14.patch
  pnpm-lock.yaml
Due: prettier

chore(internal): log first `player for` as `warn` instead of `error`
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/getActiveCoubHtml5Player.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/patchHtml5Player.ts
Due: biome

chore(dev): ignore `.env.submit`, add `grep` prerequisite to `SOURCE_CODE_REVIEW.md`
  .gitignore
  SOURCE_CODE_REVIEW.md
Due: dprint

chore(release): v0.1.25
  CHANGELOG.md
  docs/release-notes/0.1.25.html
  package.json
Due: dprint, prettier

chore(release): add v0.1.25 to `updates.json`
  docs/updates.json
Due: dprint

chore(dev,segmenter-utils): use JS script instead of `grep`
  SOURCE_CODE_REVIEW.md
  cspell.json
  packages/segmenter-utils/Taskfile.yml
  packages/segmenter-utils/package.json
  packages/segmenter-utils/utils/getLastMode.js
  pnpm-lock.yaml
Due: biome, dprint, prettier

chore(deps): update `wxt` to `v0.19.4`
  package.json
  patches/wxt@0.18.14.patch
  patches/wxt@0.19.4.patch
  pnpm-lock.yaml
  wxt.config.ts
Due: biome, dprint, prettier

chore(dev): add a utility to generate an extension description
  README.md
  README.ru.md
  cspell.json
  docs/release-notes/0.1.25.html
  package.json
  pnpm-lock.yaml
  utils/genExtensionDescription.js
  utils/genUpdateInfoHtml.js
Due: biome, dprint, prettier

docs: remove warning about unsigned releases
  README.md
  README.ru.md
Due: dprint

chore(deps): update `wxt` to `v0.19.5`
  package.json
  patches/wxt@0.18.14.patch
  pnpm-lock.yaml
  wxt.config.ts
Due: biome, dprint, prettier

chore(dev): add a utility to publish extension to AMO
  .gitignore
  README.md
  README.ru.md
  biome.json
  cspell.json
  docs/release-notes/0.1.25.html
  package.json
  packages/publish-extension/LICENSE
  packages/publish-extension/package.json
  packages/publish-extension/src/firefox/api.ts
  packages/publish-extension/src/firefox/index.ts
  packages/publish-extension/src/firefox/options.ts
  packages/publish-extension/src/firefox/types.ts
  packages/publish-extension/src/index.ts
  packages/publish-extension/src/jsonwebtoken.d.ts
  packages/publish-extension/src/types.ts
  packages/publish-extension/src/utils.ts
  packages/segmenter-utils/package.json
  packages/vite-plugin-arraybuffer/package.json
  pnpm-lock.yaml
  utils/_common.js
  utils/genUpdateInfoHtml.js
  utils/generateExtensionDescription.ts
  utils/test/createTestZips.ts
  utils/test/testUpload.ts
  utils/testBuildRepro.ts
  utils/upload/common.ts
  utils/upload/index.ts
  utils/upload/init-common.ts
  utils/upload/init-firefox.ts
Due: biome, dprint, prettier

chore(deps): update and remove unused dependencies
  Cargo.lock
  Cargo.toml
  dprint.json
  package.json
  packages/segmenter-utils/Cargo.toml
  packages/segmenter-utils/package.json
  patches/preact@10.22.1.patch
  pnpm-lock.yaml
Due: dprint, prettier

refactor: remove `serialize-javascript` dependency and node polyfills
  package.json
  pnpm-lock.yaml
  src/utils/unloadHandler/onContentScriptUnload.ts
  src/utils/unloadHandler/serializeArgs.ts
  test/utils/unloadHandler/serializeArgs.test.ts
  wxt.config.ts
Due: biome, dprint, prettier

chore(deps): update `nodejs` and `pnpm`
  .nvmrc
  package.json
  packages/segmenter-utils/src/sync.ts
  pnpm-lock.yaml
Due: biome, dprint, prettier

feat(settings): allow importing backups with merging with the current state
  src/entrypoints/options/pages/SettingsPage/ImportExport/index.tsx
  src/storage/backup.ts
  src/storage/backup/errors.tsx
  src/storage/backup/index.ts
  src/storage/blockedChannels/helpers/mergeBlockedChannels.ts
  src/storage/blockedChannels/index.ts
  src/storage/blockedCoubTitles/index.ts
  src/storage/blockedTags/index.ts
  src/storage/blocklist/index.ts
  src/storage/phrasesBlocklist/helpers/mergePhrasesBlocklist.ts
  src/storage/phrasesBlocklist/index.ts
  src/storage/playerSettings/index.ts
  src/storage/settings/index.ts
  src/storage/stats/index.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  test/storage/merge/mergeBlockedChannels.test.ts
  test/storage/merge/mergeBlocklist.test.ts
  test/storage/merge/mergePhrasesBlocklist.test.ts
  test/storage/merge/mergePlayerSettings.test.ts
  test/storage/merge/mergeSettings.test.ts
Due: biome

chore(dev): grayscale icon in dev mode
  biome.json
  cspell.json
  package.json
  packages/wxt-svg-icon/LICENSE
  packages/wxt-svg-icon/package.json
  packages/wxt-svg-icon/src/index.d.ts
  packages/wxt-svg-icon/src/index.js
  pnpm-lock.yaml
  src/assets/icon.svg
  wxt.config.ts
Due: biome, dprint, prettier

chore(changelog): hide refactoring and multi-group commits
  cliff.toml
Due: dprint

chore(release): v0.1.26
  CHANGELOG.md
  docs/release-notes/0.1.26.html
  package.json
Due: dprint, prettier

chore: remove `test-extension` from sources zip
  wxt.config.ts
Due: biome
