Repository hikiko4ern/coub-addons: changes, and which lefthook commands are due for each by the changed paths.
All: biome, dprint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}'
      run: pnpm biome check --apply --error-on-warnings {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,json5,md,toml}'
      run: pnpm dprint fmt {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{css,scss,html,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true
    type-check:
      run: pnpm tsc --noEmit
    spell-check:
      run: pnpm cspell lint --no-progress --no-summary --no-must-find-files {staged_files}

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: dprint, prettier

chore(dev): update `pnpm` to `9.0.6`
  package.json
Due: dprint

docs: add a recommendation to make backups
  README.md
  cspell.json
Due: dprint

chore(release): v0.1.13
  CHANGELOG.md
  package.json
Due: dprint

feat(settings): allow changing the theme and language of the settings page
  cspell.json
  package.json
  pnpm-lock.yaml
  src/entrypoints/options/components/Editor/index.tsx
  src/entrypoints/options/components/Editor/styles.module.scss
  src/entrypoints/options/components/Editor/styles.module.scss.d.ts
  src/entrypoints/options/components/HintTooltip/index.tsx
  src/entrypoints/options/components/LocalizationProvider/index.tsx
  src/entrypoints/options/components/SettingsProvider/context.ts
  src/entrypoints/options/components/SettingsProvider/index.tsx
  src/entrypoints/options/components/Shell/index.tsx
  src/entrypoints/options/hooks/useLazyStorages.ts
  src/entrypoints/options/hooks/useMatchMedia.ts
  src/entrypoints/options/index.html
  src/entrypoints/options/main.tsx
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
  src/entrypoints/options/pages/PlayerSettingsPage/components/PlayerSettings/components/KeyboardShortcut/index.tsx
  src/entrypoints/options/pages/PlayerSettingsPage/components/PlayerSettings/index.tsx
  src/entrypoints/options/pages/SettingsPage/ExtensionSettings/index.tsx
  src/entrypoints/options/pages/SettingsPage/ImportExport/index.tsx
  src/entrypoints/options/pages/SettingsPage/index.tsx
  src/entrypoints/options/style.scss
  src/storage/backup.ts
  src/storage/settings/index.ts
  src/storage/settings/types.ts
  src/translation/bundle.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  src/translation/intl.ts
  src/translation/js.ts
  src/types/util.ts
  utils/fakeBlockedChannels.js
  wxt.config.ts
Due: biome, dprint, prettier

chore(deps): update dependencies
  package.json
  packages/segmenter-utils/package.json
  patches/preact@10.21.0.patch
  patches/wxt@0.17.12.patch
  patches/wxt@0.18.1.patch
  pnpm-lock.yaml
Due: dprint, prettier

chore: add simple icon
  src/entrypoints/options/index.html
  src/public/icon.svg
  src/public/icon/128.png
  src/public/icon/16.png
  src/public/icon/32.png
  src/public/icon/48.png
  src/public/icon/96.png
  wxt.config.ts
Due: biome, prettier

fix(channel-dropdown): raise the buttons higher so that they don't overlap the description
  src/entrypoints/channelDropdown.content/styles.scss
Due: prettier

chore(release): v0.1.14
  CHANGELOG.md
  package.json
Due: dprint

chore(deps): update dependencies
  Cargo.lock
  README.md
  biome.json
  dprint.json
  lefthook.yml
  package.json
  packages/segmenter-utils/Cargo.toml
  packages/segmenter-utils/README.md
  packages/segmenter-utils/package.json
  patches/preact@10.22.1.patch
  patches/wxt@0.18.1.patch
  patches/wxt@0.18.14.patch
  pnpm-lock.yaml
  src/types/window.ts
  tsconfig.json
Due: biome, dprint, prettier

fix(hotkey): do not perform an action if a modifier not specified in the hotkey is pressed
  src/hotkey/isHotkeyPressed.ts
Due: biome

refactor: store hotkey modifiers as a number instead of an array
  src/entrypoints/options/components/HotkeyInput/useRecordHotkey.ts
  src/helpers/filterMap.ts
  src/hotkey/constants.ts
  src/hotkey/doHotkeysConflict.ts
  src/hotkey/formatHotkey.ts
  src/hotkey/getActiveKeyboardEventModifiers.ts
  src/hotkey/isHotkeyPressed.ts
  src/hotkey/types.ts
  src/storage/playerSettings/index.ts
  src/storage/playerSettings/migrations.ts
  src/storage/playerSettings/types.ts
Due: biome

chore(release): v0.1.15
  CHANGELOG.md
  package.json
Due: dprint

feat(hotkey): add a hotkey for copying a coub link
  README.md
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/patchHtml5Player.ts
  src/entrypoints/options/pages/PlayerSettingsPage/components/PlayerSettings/components/KeyboardShortcuts/constants.ts
  src/storage/playerSettings/index.ts
  src/storage/playerSettings/migrations.ts
  src/storage/playerSettings/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  src/types/window.ts
  wxt.config.ts
Due: biome, dprint

feat(blocklist): exclude likes and bookmarks timelines from processing
  src/request/timeline.ts
  src/request/webRequestExt.ts
Due: biome

chore(release): v0.1.16
  CHANGELOG.md
  package.json
Due: dprint

fix: handle more query field separators
  src/request/webRequestExt.ts
Due: biome

feat(blocklist): update data of blocked channels from timeline and comments responses
  src/request/comments.ts
  src/request/timeline.ts
  src/storage/blockedChannels/helpers/areBlockedChannelEqual.ts
  src/storage/blockedChannels/index.ts
Due: biome

feat(blocklist): add an action to manually update channel data
  src/api/channel.ts
  src/api/types.ts
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/components/Actions/index.tsx
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
  src/entrypoints/options/pages/BlockedChannelsPage/index.tsx
  src/js/getChannelDataFromWindow.ts
  src/request/coub.ts
  src/request/timeline.ts
  src/request/types.ts
  src/storage/blockedChannels/index.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  src/types/Channel.ts
Due: biome

chore(build): remove unnecessary files from zipped sources
  wxt.config.ts
Due: biome

chore(build): save the checksum of `segmenter-utils` in zipped sources
  wxt.config.ts
Due: biome

chore(release): v0.1.17
  CHANGELOG.md
  package.json
Due: dprint

chore(build): make a build from zipped sources reproducible
  .npmrc
  README.md
  cspell.json
  package.json
  pnpm-lock.yaml
  wxt.config.ts
Due: biome, dprint, prettier

fix(blocklist): do not update the blocked channel data if it has not changed
  src/storage/blockedChannels/index.ts
Due: biome

fix(blocklist): add translation for `ID`
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome

fix(blocklist): make the `ID` readable on a light background
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
Due: biome

fix: fix cleanup in `ctx.onInvalidated` on the channel page
  src/entrypoints/channel.content.ts
Due: biome

chore(release): v0.1.18
  CHANGELOG.md
  package.json
Due: dprint

chore: keep names in production builds
  wxt.config.ts
Due: biome

feat(blocklist): cancel timeline requests for blocked channels
  package.json
  pnpm-lock.yaml
  src/request/timeline.ts
  src/request/webRequestExt.ts
  src/storage/base.ts
  src/storage/blockedChannels/helpers/areBlockedChannelEqual.ts
  src/storage/blockedChannels/helpers/iterRawBlockedChannels.ts
  src/storage/blockedChannels/index.ts
  src/storage/types.ts
  src/types/util.ts
  wxt.config.ts
Due: biome, dprint, prettier

chore(release): v0.1.19
  CHANGELOG.md
  package.json
Due: dprint

feat(blocklist): hide stories from blocked channels
  README.md
  src/entrypoints/background.ts
  src/entrypoints/options/pages/StatsPage/index.tsx
  src/helpers/coub/getCoubPermalink.ts
  src/helpers/coub/getCoubTitleData.ts
  src/helpers/story/getStoryPermalink.ts
  src/helpers/story/getStoryTitleData.ts
  src/helpers/toJsonDataUri.ts
  src/helpers/url/matchChannelTimeline.ts
  src/helpers/url/parseSearchPage.ts
  src/request/comments.ts
  src/request/constants.ts
  src/request/ctx.ts
  src/request/stories.ts
  src/request/timeline.ts
  src/request/types/comment.ts
  src/request/types/coub.ts
  src/request/types/story.ts
  src/request/utils/blocklist.ts
  src/request/webRequestExt.ts
  src/storage/stats/helpers/getCountedInStatsFilteredOutData.ts
  src/storage/stats/index.ts
  src/storage/stats/migrations.ts
  src/storage/stats/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome, dprint

feat(blocklist): implement blocking of reposts of stories
  README.md
  cspell.json
  src/entrypoints/options/pages/BlocklistPage/components/BlocklistSettings/index.tsx
  src/request/stories.ts
  src/request/types/story.ts
  src/request/utils/blocklist.ts
  src/storage/blocklist/index.ts
  src/storage/blocklist/migrations.ts
  src/storage/blocklist/types.ts
  src/storage/stats/index.ts
  src/storage/stats/migrations.ts
  src/storage/stats/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome, dprint

fix(blocklist): fix transmission of blocked channels state via events
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
  src/entrypoints/options/pages/BlockedChannelsPage/hooks/useSearch.ts
  src/entrypoints/options/pages/BlockedChannelsPage/index.tsx
  src/storage/blockedChannels/index.ts
  src/types/util.ts
Due: biome

chore(release): v0.1.20
  CHANGELOG.md
  package.json
Due: dprint

fix: change blocklist storage latest version to `3`
  src/storage/blocklist/index.ts
Due: biome

chore(release): v0.1.21
  CHANGELOG.md
  package.json
Due: dprint

revert: keep names in production builds
  wxt.config.ts
Due: biome

feat(media-session): implement basic integration with Media Session API
  README.md
  cspell.json
  src/entrypoints/keyboardShortcuts.content/index.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/actualizeMediaSessionFromHtml5Player.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/addKeyUpHandlerToHtml5Player.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/constants.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/getActiveCoubHtml5Player.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/getHtml5PlayerGlobals.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/index.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/patchHtml5Player.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/revertHtml5PlayerPatches.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/selectActiveCoubViewer.ts
  src/request/timeline.ts
  src/types/window.ts
Due: biome, dprint
