Repository hikiko4ern/coub-addons: changes, and which lefthook commands are due for each by the changed paths.
All: biome, dprint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}'
      run: pnpm biome check --apply --error-on-warnings {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,json5,md,toml}'
      run: pnpm dprint fmt {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{css,scss,html,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true
    type-check:
      run: pnpm tsc --noEmit
    spell-check:
      run: pnpm cspell lint --no-progress --no-summary --no-must-find-files {staged_files}

chore(release): add `v0.1.26` to `updates.json`
  docs/updates.json
Due: dprint

chore(docs,release-notes): regenerate release notes for `v0.1.24` and `v0.1.25`
  docs/release-notes/0.1.24.html
  docs/release-notes/0.1.25.html
Due: prettier

chore(dev,utils): allow release notes generation for a specified version
  cliff.toml
  utils/genUpdateInfoHtml.js
Due: biome, dprint

chore(dev,utils): add a script to generate `updates.json`
  package.json
  utils/addUpdate.js
Due: biome, dprint

chore(updates): specify `update_hash` in `updates.json`
  docs/updates.json
Due: dprint

docs: add links to repository mirrors
  README.md
  README.ru.md
  cspell.json
Due: dprint

chore(dev,utils): add a script to generate release notes for git hosting
  package.json
  pnpm-lock.yaml
  utils/genReleaseNotes.js
Due: biome, dprint, prettier

chore: change `update_url` to `coub-addons.doggo.moe`
  .env
  .env.production
  docs/CNAME
  docs/updates.json
  utils/addUpdate.js
Due: biome, dprint

feat(WIP,player): allow changing the timeout of hiding UI controls
  src/entrypoints/keyboardShortcuts.content/constants.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/constants.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/index.ts
  src/entrypoints/options/pages/PlayerSettingsPage/components/PlayerSettings/index.tsx
  src/entrypoints/player.content/constants.ts
  src/entrypoints/player.content/index.ts
  src/entrypoints/player.content/patches/CoubBlockClientside/constants.ts
  src/entrypoints/player.content/patches/CoubBlockClientside/getCoubBlockClientsideGlobals.ts
  src/entrypoints/player.content/patches/CoubBlockClientside/index.ts
  src/entrypoints/player.content/patches/CoubBlockClientside/patchCoubBlockClientside.ts
  src/entrypoints/player.content/patches/CoubBlockClientside/revertCoubBlockClientsidePatches.ts
  src/entrypoints/player.content/patches/Html5Player_class/actualizeMediaSessionFromHtml5Player.ts
  src/entrypoints/player.content/patches/Html5Player_class/addKeyUpHandlerToHtml5Player.ts
  src/entrypoints/player.content/patches/Html5Player_class/constants.ts
  src/entrypoints/player.content/patches/Html5Player_class/getActiveCoubHtml5Player.ts
  src/entrypoints/player.content/patches/Html5Player_class/getHtml5PlayerClassGlobals.ts
  src/entrypoints/player.content/patches/Html5Player_class/index.ts
  src/entrypoints/player.content/patches/Html5Player_class/patchHtml5PlayerClass.ts
  src/entrypoints/player.content/patches/Html5Player_class/revertHtml5PlayerClassPatches.ts
  src/entrypoints/player.content/patches/Html5Player_class/selectActiveCoubViewer.ts
  src/entrypoints/player.content/patches/getJQuery.ts
  src/entrypoints/player.content/patches/html5Player_global/constants.ts
  src/entrypoints/player.content/patches/html5Player_global/index.ts
  src/entrypoints/player.content/patches/html5Player_global/patchHtml5PlayerGlobal.ts
  src/entrypoints/player.content/patches/html5Player_global/revertHtml5PlayerGlobalPatches.ts
  src/entrypoints/player.content/patches/types.ts
  src/storage/playerSettings/index.ts
  src/storage/playerSettings/migrations.ts
  src/storage/playerSettings/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  src/types/window.ts
  utils/genReleaseNotes.js
Due: biome

chore(deps): update dependencies
  biome.json
  dprint.json
  package.json
  packages/publish-extension/package.json
  packages/segmenter-utils/package.json
  pnpm-lock.yaml
  src/entrypoints/background.ts
  src/entrypoints/options/components/HotkeyInput/useRecordHotkey.ts
  src/entrypoints/options/pages/SettingsPage/ImportExport/index.tsx
  src/events.ts
  src/request/webRequestExt.ts
  src/types/util.ts
Due: biome, dprint, prettier

chore(deps): update Node.js to `22.11.0` and `pnpm`
  .nvmrc
  package.json
  packages/wxt-svg-icon/package.json
  pnpm-lock.yaml
Due: dprint, prettier

fix(blocklist): handle comments on the new `coub.com` host
  .env
  CONTRIBUTING.md
  cspell.json
  src/entrypoints/options/pages/BlocklistPage/components/BlocklistSettings/index.tsx
  src/gql/comments/graphql.ts
  src/gql/comments/requests/commentReplies.graphql
  src/gql/comments/requests/entityComments.graphql
  src/gql/comments/schema.json
  src/permissions/constants.ts
  src/request/comments.ts
  src/request/utils/blocklist.ts
  src/request/webRequestExt.ts
  wxt.config.ts
Due: biome, dprint

chore(release): v0.1.27
  CHANGELOG.md
  docs/release-notes/0.1.27.html
  package.json
Due: dprint, prettier

chore(release): add `v0.1.27` to `updates.json`
  docs/updates.json
Due: dprint

docs: fix commit messages
  CHANGELOG.md
  cliff.toml
  docs/release-notes/0.1.27.html
Due: dprint, prettier

feat: add a year to last year's dates that occurred less than a year ago
  README.md
  README.ru.md
  package.json
  pnpm-lock.yaml
  src/entrypoints/coub.content/constants.ts
  src/entrypoints/coub.content/index.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/constants.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/getCoubBlockClientsideGlobals.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/index.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/patchCoubBlockClientside.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/revertCoubBlockClientsidePatches.ts
  src/entrypoints/coub.content/patches/Html5Player/actualizeMediaSessionFromHtml5Player.ts
  src/entrypoints/coub.content/patches/Html5Player/addKeyUpHandlerToHtml5Player.ts
  src/entrypoints/coub.content/patches/Html5Player/constants.ts
  src/entrypoints/coub.content/patches/Html5Player/getActiveCoubHtml5Player.ts
  src/entrypoints/coub.content/patches/Html5Player/getHtml5PlayerGlobals.ts
  src/entrypoints/coub.content/patches/Html5Player/index.ts
  src/entrypoints/coub.content/patches/Html5Player/patchHtml5Player.ts
  src/entrypoints/coub.content/patches/Html5Player/revertHtml5PlayerPatches.ts
  src/entrypoints/coub.content/patches/Html5Player/selectActiveCoubViewer.ts
  src/entrypoints/coub.content/patches/getJQuery.ts
  src/entrypoints/coub.content/patches/helpers/constants.ts
  src/entrypoints/coub.content/patches/helpers/getApplicationHelpersGlobals.ts
  src/entrypoints/coub.content/patches/helpers/index.ts
  src/entrypoints/coub.content/patches/helpers/patchHelpers.ts
  src/entrypoints/coub.content/patches/helpers/revertHelpersPatches.ts
  src/entrypoints/coub.content/patches/types.ts
  src/entrypoints/keyboardShortcuts.content/constants.ts
  src/entrypoints/keyboardShortcuts.content/patches/Html5Player/constants.ts
  src/types/window.ts
Due: biome, dprint, prettier

feat(WIP,blocklist)!: rework phrases matcher
  Cargo.lock
  Cargo.toml
  cspell.json
  package.json
  packages/segmenter-utils/Cargo.toml
  packages/segmenter-utils/package.json
  packages/segmenter-utils/src/lib.rs
  packages/segmenter-utils/src/sync.ts
  packages/segmenter-utils/test/index.test.ts
  pnpm-lock.yaml
  rust-toolchain.toml
  src/storage/phrasesBlocklist/helpers/getMatchedPhrase.ts
  src/storage/phrasesBlocklist/helpers/phrasesTree.ts
  src/storage/phrasesBlocklist/helpers/segmenterUtils.ts
  test/storage/phrasesBlocklist/helpers/__snapshots__/phrasesToTree.test.ts.snap
  test/storage/phrasesBlocklist/helpers/getMatchedPhrase.test.ts
  test/storage/phrasesBlocklist/helpers/phrasesToTree.test.ts
  test/storage/phrasesBlocklist/helpers/segmenterUtils.ts
Due: biome, dprint, prettier

feat(blocklist): preserve emojis
  .gitignore
  Cargo.lock
  Cargo.toml
  package.json
  packages/segmenter-utils/Cargo.toml
  packages/segmenter-utils/src/lib.rs
  pnpm-lock.yaml
  rust-toolchain.toml
  src/storage/phrasesBlocklist/helpers/segmenterUtils.ts
  test/storage/phrasesBlocklist/helpers/getMatchedPhrase.test.ts
  test/storage/phrasesBlocklist/helpers/phrasesToTree.test.ts
Due: biome, dprint, prettier

feat(blocklist): add a blocklist tester
  src/entrypoints/options/components/Editor/index.tsx
  src/entrypoints/options/components/Editor/lineHighlighting.ts
  src/entrypoints/options/components/PhrasesBlocklist/hooks/useTestPhrasesBlocklist.ts
  src/entrypoints/options/components/PhrasesBlocklist/index.tsx
  src/request/utils/blocklist.ts
  src/storage/phrasesBlocklist/helpers/getMatchedPhrase.ts
  src/storage/phrasesBlocklist/helpers/parsePhrasesBlocklist.ts
  src/storage/phrasesBlocklist/helpers/phrasesTree.ts
  src/storage/phrasesBlocklist/index.ts
  src/storage/phrasesBlocklist/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  test/storage/phrasesBlocklist/helpers/getMatchedPhrase.test.ts
  test/storage/phrasesBlocklist/helpers/phrasesToTree.test.ts
Due: biome

chore(release): v0.1.28
  CHANGELOG.md
  docs/release-notes/0.1.28.html
  package.json
Due: dprint, prettier

chore(release): add `v0.1.28` to `updates.json`
  docs/updates.json
Due: dprint

fix: add a year to the dates only if more than 72 hours have passed
  src/entrypoints/coub.content/patches/helpers/patchHelpers.ts
Due: biome

chore(release): v0.1.29
  CHANGELOG.md
  docs/release-notes/0.1.29.html
  package.json
Due: dprint, prettier

fix(dev): add new updates to the end of the list
  utils/addUpdate.js
Due: biome

chore(release): add `v0.1.29` to `updates.json`
  docs/updates.json
Due: dprint

fix(dev): fix AMO description generation
  README.md
  README.ru.md
  utils/generateExtensionDescription.ts
Due: biome, dprint

fix(changelog): do not include in changelog changes with certain scopes regardless of type
  cliff.toml
Due: dprint

docs(dev): actualize the `Releasing updates` section
  CONTRIBUTING.md
  package.json
  utils/genReleaseNotes.js
Due: biome, dprint

chore(deps): update dependencies
  .npmrc
  .nvmrc
  package.json
  packages/segmenter-utils/package.json
  packages/wxt-svg-icon/package.json
  pnpm-lock.yaml
  src/entrypoints/options/components/HotkeyInput/useRecordHotkey.ts
  src/entrypoints/options/components/Shell/index.tsx
  src/entrypoints/options/main.tsx
  src/entrypoints/options/pages/BlocklistPage/components/BlocklistSettings/index.tsx
  taze.config.js
  wxt.config.ts
Due: biome, dprint, prettier

docs: add links to the `sr.ht` repository mirror
  README.md
Due: dprint

docs(dev): fix `segmenter-utils` rebuild instruction
  SOURCE_CODE_REVIEW.md
Due: dprint

chore(settings): emphasize overwriting of data during import
  src/entrypoints/options/pages/SettingsPage/ImportExport/index.tsx
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome

docs(readme): change Radicle public node to `rosa.radicle.xyz`
  README.md
Due: dprint

fix(dev): pass `--allow-no-files` to `dprint`
  lefthook.yml
Due: prettier

chore(dev): update graphql schema
  src/gql/comments/graphql.ts
  src/gql/comments/schema.json
  utils/gqlCodegen.ts
Due: biome, dprint

chore(dev): disable wxt runner
  wxt.config.ts
Due: biome

feat(blocklist): add blocking of reposts of coubs
  README.md
  README.ru.md
  src/entrypoints/options/pages/BlocklistPage/components/BlocklistSettings/index.tsx
  src/request/timeline.ts
  src/request/types/coub.ts
  src/request/utils/blocklist.ts
  src/storage/blocklist/index.ts
  src/storage/blocklist/migrations.ts
  src/storage/blocklist/types.ts
  src/storage/stats/index.ts
  src/storage/stats/migrations.ts
  src/storage/stats/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  test/storage/merge/mergeBlocklist.test.ts
Due: biome, dprint

feat(blocklist): check the original coub if repost
  src/request/timeline.ts
  src/request/utils/blocklist.ts
Due: biome

feat(blocklist): hide featured/recommended blocked channels
  README.md
  README.ru.md
  src/entrypoints/background.ts
  src/entrypoints/options/hooks/useT.ts
  src/entrypoints/options/pages/StatsPage/components/FilteredOutSection/index.tsx
  src/entrypoints/options/pages/StatsPage/index.tsx
  src/helpers/channel/getChannelPermalink.ts
  src/helpers/channel/getChannelTitle.ts
  src/helpers/channel/getChannelTitleData.ts
  src/helpers/coub/getCoubTitleData.ts
  src/helpers/story/getStoryTitleData.ts
  src/request/channels.ts
  src/request/comments.ts
  src/request/stories.ts
  src/request/timeline.ts
  src/request/types/channel.ts
  src/request/types/comment.ts
  src/request/types/coub.ts
  src/request/types/story.ts
  src/request/utils/blocklist.ts
  src/storage/blockedChannels/helpers/iterRawBlockedChannels.ts
  src/storage/stats/index.ts
  src/storage/stats/migrations.ts
  src/storage/stats/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  src/translation/helpers/createTranslator.ts
  src/translation/js.ts
  src/types/util.ts
Due: biome, dprint
