Repository hikiko4ern/coub-addons: changes, and which lefthook commands are due for each by the changed paths.
All: biome, dprint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}'
      run: pnpm biome check --apply --error-on-warnings {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,json5,md,toml}'
      run: pnpm dprint fmt {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{css,scss,html,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true
    type-check:
      run: pnpm tsc --noEmit
    spell-check:
      run: pnpm cspell lint --no-progress --no-summary --no-must-find-files {staged_files}

chore(release): v0.2.1
  CHANGELOG.md
  docs/release-notes/0.2.1.html
  package.json
Due: dprint, prettier

chore(release): add `v0.2.1` to `updates.json`
  docs/updates.json
Due: dprint

feat(hotkey): prevent player from handling hotkeys if mod is pressed
  README.md
  README.ru.md
  src/entrypoints/coub.content/patches/Html5Player/addKeyUpHandlerToHtml5Player.ts
  src/entrypoints/options/components/HotkeyInput/index.tsx
  src/entrypoints/options/pages/PlayerSettingsPage/components/PlayerSettings/index.tsx
  src/storage/playerSettings/index.ts
  src/storage/playerSettings/migrations.ts
  src/storage/playerSettings/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome, dprint

feat(sync-backup): show whether the data in the sync storage matches the local one
  package.json
  pnpm-lock.yaml
  src/entrypoints/options/components/PerStorageSync/hooks/useAreShardsEqual.ts
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/entrypoints/options/components/SettingsProvider/index.tsx
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome, dprint, prettier

chore: relicense as `MIT`/`0BSD`
  LICENSE
  LICENSE-0BSD
  LICENSE-MIT
  package.json
  packages/publish-extension/LICENSE
  packages/publish-extension/LICENSE-0BSD
  packages/publish-extension/LICENSE-MIT
  packages/publish-extension/package.json
  packages/wxt-svg-icon/LICENSE
  packages/wxt-svg-icon/LICENSE-0BSD
  packages/wxt-svg-icon/LICENSE-MIT
  packages/wxt-svg-icon/package.json
Due: dprint

chore(release): v0.2.2
  CHANGELOG.md
  docs/release-notes/0.2.2.html
  package.json
Due: dprint, prettier

chore(release): add `v0.2.2` to `updates.json`
  docs/updates.json
Due: dprint

chore: add `gecko.data_collection_permissions` to the manifest
  wxt.config.ts
Due: biome

chore: migrate to Codeberg
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  README.ru.md
  cliff.toml
  docs/release-notes/0.1.25.html
  docs/release-notes/0.1.27.html
  docs/release-notes/0.2.0.html
  docs/release-notes/0.2.1.html
  docs/updates.json
  package.json
  packages/publish-extension/package.json
  packages/wxt-svg-icon/package.json
  utils/addUpdate.ts
  utils/genReleaseNotes.ts
  utils/helpers/generateReleaseNotes.ts
Due: biome, dprint, prettier

chore(deps): replace `dotenv-flow` with built-in env loading
  .env.production
  CONTRIBUTING.md
  SOURCE_CODE_REVIEW.md
  package.json
  packages/publish-extension/src/firefox/options.ts
  packages/publish-extension/src/index.ts
  pnpm-lock.yaml
  utils/fetchGqlSchema.ts
  utils/loadEnv.js
  utils/loadEnvLocal.js
  utils/upload/init-firefox.ts
  wxt.config.ts
Due: biome, dprint, prettier

chore(dev): change code theme from `ayu-dark` to `dracula-soft`
  utils/addUpdate.ts
  utils/genAmoDescription.ts
  utils/genAmoReleaseNotes.ts
  utils/genReleaseNotes.ts
  utils/genUpdateInfoHtml.js
  utils/helpers/printCode.js
  utils/upload/common.ts
Due: biome

chore(deps): update `vite` and `rollup`
  package.json
  pnpm-lock.yaml
Due: dprint, prettier

fix(cs/coub): apply patches without waiting for player settings
  src/entrypoints/coub.content/constants.ts
  src/entrypoints/coub.content/index.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/patchCoubBlockClientside.ts
  src/entrypoints/coub.content/patches/Html5Player/addKeyUpHandlerToHtml5Player.ts
  src/entrypoints/coub.content/patches/Html5Player/patchHtml5Player.ts
Due: biome

ci: publish docs on Codeberg Pages
  .forgejo/workflows/docs.yaml
  docs/CNAME
Due: prettier

docs(changelog): omit `ci`/`style`/`test` commits from the changelog
  cliff.toml
Due: dprint

chore(release): v0.2.3
  CHANGELOG.md
  docs/release-notes/0.2.3.html
  package.json
Due: dprint, prettier

ci(docs): publish only if `docs` are changed
  .forgejo/workflows/docs.yaml
  cspell.json
Due: dprint, prettier

chore(release): add `v0.2.3` to `updates.json`
  docs/updates.json
Due: dprint

docs(readme): remove GitHub mirror link
  README.md
  README.ru.md
Due: dprint

docs(readme): move to Codeberg
  README.md
  README.ru.md
Due: dprint
