Repository hikiko4ern/coub-addons: changes, and which lefthook commands are due for each by the changed paths.
All: biome, dprint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}'
      run: pnpm biome check --apply --error-on-warnings {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,json5,md,toml}'
      run: pnpm dprint fmt {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{css,scss,html,yml,yaml}'
      run: pnpm prettier -w {staged_files}
      stage_fixed: true
    type-check:
      run: pnpm tsc --noEmit
    spell-check:
      run: pnpm cspell lint --no-progress --no-summary --no-must-find-files {staged_files}

fix(settings): fix blocked channels table pagination
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
  src/entrypoints/options/pages/BlockedChannelsPage/index.tsx
Due: biome

chore(deps): update Rust dependencies
  Cargo.lock
  Cargo.toml
  packages/segmenter-utils/Cargo.toml
  packages/segmenter-utils/Taskfile.yml
  packages/segmenter-utils/package.json
  packages/segmenter-utils/src/lib.rs
  pnpm-lock.yaml
  rust-toolchain.toml
Due: dprint, prettier

feat(blocklist): add an option to hide message of blocked comments
  src/entrypoints/options/pages/BlocklistPage/components/BlocklistSettings/index.tsx
  src/entrypoints/options/pages/StatsPage/index.tsx
  src/request/comments.ts
  src/request/types/comment.ts
  src/request/utils/blocklist.ts
  src/storage/blocklist/index.ts
  src/storage/blocklist/migrations.ts
  src/storage/blocklist/types.ts
  src/storage/stats/index.ts
  src/storage/stats/migrations.ts
  src/storage/stats/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  test/storage/merge/mergeBlocklist.test.ts
Due: biome

remove(blocklist)!: remove the segmenter polyfill
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  README.ru.md
  SOURCE_CODE_REVIEW.md
  biome.json
  cspell.json
  docs/updates.json
  package.json
  packages/segmenter-utils/Cargo.toml
  packages/segmenter-utils/LICENSE
  packages/segmenter-utils/README.md
  packages/segmenter-utils/Taskfile.yml
  packages/segmenter-utils/package.json
  packages/segmenter-utils/src/lib.rs
  packages/segmenter-utils/src/sync.ts
  packages/segmenter-utils/test/index.test.ts
  packages/segmenter-utils/utils/getLastMode.js
  packages/vite-plugin-arraybuffer/LICENSE
  packages/vite-plugin-arraybuffer/package.json
  packages/vite-plugin-arraybuffer/src/index.js
  pnpm-lock.yaml
  rust-toolchain.toml
  src/storage/phrasesBlocklist/helpers/getMatchedPhrase.ts
  src/storage/phrasesBlocklist/helpers/parsePhrasesBlocklist.ts
  src/storage/phrasesBlocklist/helpers/phrasesTree.ts
  src/storage/phrasesBlocklist/helpers/segmenterUtils.ts
  src/storage/phrasesBlocklist/index.ts
  src/types/window.ts
  test/storage/phrasesBlocklist/helpers/getMatchedPhrase.test.ts
  test/storage/phrasesBlocklist/helpers/phrasesToTree.test.ts
  test/storage/phrasesBlocklist/helpers/segmenterUtils.ts
  utils/addUpdate.ts
  utils/testBuildRepro.ts
  vitest.config.ts
  wxt.config.ts
Due: biome, dprint, prettier

chore(reproducibility): enable `trim-paths` for `cargo`
  Cargo.toml
  rust-toolchain.toml
Due: dprint

remove(hotkey)!: remove the `copy link to coub` hotkey
  README.md
  README.ru.md
  cliff.toml
  src/entrypoints/coub.content/patches/Html5Player/addKeyUpHandlerToHtml5Player.ts
  src/entrypoints/options/pages/PlayerSettingsPage/components/PlayerSettings/components/KeyboardShortcuts/constants.ts
  src/storage/playerSettings/index.ts
  src/storage/playerSettings/migrations.ts
  src/storage/playerSettings/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  test/storage/merge/mergePlayerSettings.test.ts
Due: biome, dprint

fix: manually save the storage version due to a `wxt` bug
  src/storage/base.ts
  src/storage/blockedChannels/index.ts
  src/storage/blockedCoubTitles/index.ts
  src/storage/blockedTags/index.ts
  src/storage/blocklist/index.ts
  src/storage/playerSettings/index.ts
  src/storage/settings/index.ts
  src/storage/stats/index.ts
Due: biome

chore(dev): allow disabling tmpdir deletion on exit
  utils/testBuildRepro.ts
Due: biome

feat(changelog): better format breaking changes description
  cliff.toml
Due: dprint

chore(release): v0.2.0
  CHANGELOG.md
  docs/release-notes/0.2.0.html
  package.json
Due: dprint, prettier

fix(release): fix `gecko.strict_min_version` to `125.0`
  wxt.config.ts
Due: biome

chore(release): add `v0.2.0` to `updates.json`
  docs/updates.json
Due: dprint

fix(release): use Markdown instead of HTML for description and release notes for AMO
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  utils/addUpdate.ts
  utils/bump.js
  utils/genAmoDescription.ts
  utils/genAmoReleaseNotes.ts
  utils/genReleaseNotes.ts
  utils/genUpdateInfoHtml.js
  utils/generateExtensionDescription.ts
  utils/helpers/generateExtensionDescription.ts
  utils/helpers/generateReleaseNotes.ts
  utils/helpers/printCode.js
  utils/helpers/toAmoMarkdown.ts
  utils/upload/common.ts
  utils/upload/init-common.ts
Due: biome, dprint, prettier

docs(readme): update repository mirrors in `README.ru.md`
  README.ru.md
Due: dprint

feat(media-session): handle `nexttrack` and `previoustrack`
  cspell.json
  src/entrypoints/coub.content/patches/Html5Player/getActiveCoubHtml5Player.ts
  src/entrypoints/coub.content/patches/Html5Player/getViewerCoubHtml5Player.ts
  src/entrypoints/coub.content/patches/Html5Player/patchHtml5Player.ts
Due: biome, dprint

fix(channel-dropdown): revert non-reverted `setDropdownContent` patch
  src/entrypoints/channelDropdown.content/patches/widgets/patchWidgets.ts
Due: biome

refactor: extract method patching logic
  src/entrypoints/channelDropdown.content/patches/widgets/patchWidgets.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/patchCoubBlockClientside.ts
  src/entrypoints/coub.content/patches/Html5Player/patchHtml5Player.ts
  src/entrypoints/coub.content/patches/helpers/patchHelpers.ts
  src/helpers/patch/applyPatches.ts
  src/helpers/patch/patchMethod.ts
  src/helpers/patch/saveOriginalMethod.ts
Due: biome

refactor(media-session): extract `MediaSession` setup into the separate helper
  src/entrypoints/coub.content/patches/Html5Player/patchHtml5Player.ts
Due: biome

chore(dev): group log messages
  src/entrypoints/channel.content.ts
  src/entrypoints/channelDropdown.content/helpers/addBlockButtonToChannelDropdown.ts
  src/entrypoints/channelDropdown.content/helpers/reinitializeChannelDropdowns.ts
  src/entrypoints/channelDropdown.content/index.ts
  src/entrypoints/channelDropdown.content/patches/widgets/patchWidgets.ts
  src/entrypoints/coub.content/index.ts
  src/entrypoints/coub.content/patches/CoubBlockClientside/patchCoubBlockClientside.ts
  src/entrypoints/coub.content/patches/Html5Player/getHtml5PlayerGlobals.ts
  src/entrypoints/coub.content/patches/Html5Player/patchHtml5Player.ts
  src/entrypoints/coub.content/patches/helpers/patchHelpers.ts
  src/entrypoints/options/main.tsx
  src/entrypoints/popularAndCommunityTimelines.content/index.ts
  src/entrypoints/popularAndCommunityTimelines.content/patches/JST/patchJst.ts
  src/helpers/patch/applyPatches.ts
  src/js/createAddChannelBlockButton.ts
  src/request/channels.ts
  src/request/comments.ts
  src/request/stories.ts
  src/request/timeline.ts
  src/storage/base.ts
  src/storage/blockedChannels/index.ts
  src/storage/stats/helpers/getCountedInStatsFilteredOutData.ts
  src/utils/logger.ts
  wxt.config.ts
Due: biome

chore(dev): do not use `new.target.name` to preserve names in prod
  src/storage/blockedChannels/index.ts
  src/storage/blockedCoubTitles/index.ts
  src/storage/blockedTags/index.ts
  src/storage/blocklist/index.ts
  src/storage/playerSettings/index.ts
  src/storage/settings/index.ts
  src/storage/stats/index.ts
Due: biome

fix(settings): do not save if editor is not dirty
  src/entrypoints/options/components/PhrasesBlocklist/index.tsx
Due: biome

feat(WIP,sync-backup): add backup to the `sync` storage
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/entrypoints/options/components/PhrasesBlocklist/hooks/useTestPhrasesBlocklist.ts
  src/entrypoints/options/components/PhrasesBlocklist/index.tsx
  src/entrypoints/options/hooks/useStorageState.ts
  src/entrypoints/options/pages/BlockedChannelsPage/index.tsx
  src/entrypoints/options/pages/BlockedCoubTitlesPage/index.tsx
  src/entrypoints/options/pages/BlockedTagsPage/index.tsx
  src/entrypoints/options/pages/BlocklistPage/index.tsx
  src/entrypoints/options/pages/PlayerSettingsPage/index.tsx
  src/entrypoints/options/pages/SettingsPage/ImportExport/index.tsx
  src/entrypoints/options/pages/SettingsPage/index.tsx
  src/storage/backup/errors.tsx
  src/storage/backup/index.ts
  src/storage/base.ts
  src/storage/blockedChannels/errors.ts
  src/storage/blockedChannels/helpers/recoverBlockedChannelsFromShards.ts
  src/storage/blockedChannels/helpers/shardBlockedChannels.ts
  src/storage/blockedChannels/index.ts
  src/storage/blockedChannels/types.ts
  src/storage/blockedCoubTitles/index.ts
  src/storage/blockedTags/index.ts
  src/storage/blocklist/index.ts
  src/storage/errors.ts
  src/storage/helpers/getStorageByteSize.ts
  src/storage/phrasesBlocklist/index.ts
  src/storage/playerSettings/index.ts
  src/storage/settings/index.ts
  src/storage/stats/index.ts
  src/storage/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  src/types/util.ts
Due: biome

feat(WIP,sync-backup): use `base64(Uint32Array)` for an array of numbers instead of `JSON.stringify`
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/helpers/byteSize.ts
  src/helpers/shards/array.ts
  src/helpers/shards/gen.ts
  src/helpers/shards/shardUtils.ts
  src/helpers/shards/uint32.ts
  src/storage/base.ts
  src/storage/blockedChannels/helpers/recoverBlockedChannelsFromShards.ts
  src/storage/blockedChannels/helpers/shardBlockedChannels.ts
  src/storage/blockedChannels/index.ts
  src/storage/helpers/getStorageByteSize.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome

feat(WIP,sync-backup): support import with merge
  biome.json
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/entrypoints/options/components/PhrasesBlocklist/index.tsx
  src/entrypoints/options/pages/BlockedChannelsPage/index.tsx
  src/entrypoints/options/pages/BlockedCoubTitlesPage/index.tsx
  src/entrypoints/options/pages/BlockedTagsPage/index.tsx
  src/entrypoints/options/pages/BlocklistPage/index.tsx
  src/entrypoints/options/pages/PlayerSettingsPage/index.tsx
  src/entrypoints/options/pages/SettingsPage/index.tsx
  src/helpers/patch/patchMethod.ts
  src/helpers/patch/saveOriginalMethod.ts
  src/request/channels.ts
  src/storage/backup/index.ts
  src/storage/base.ts
  src/storage/blocklist/migrations.ts
  src/storage/playerSettings/migrations.ts
  src/storage/stats/migrations.ts
  src/storage/types.ts
  src/types/util.ts
  src/types/window.ts
  src/utils/unloadHandler/serializeArgs.ts
Due: biome, dprint

feat(WIP,sync-backup): move details to new modal
  src/entrypoints/options/components/PerStorageSync/components/SyncStorageDetails/index.tsx
  src/entrypoints/options/components/PerStorageSync/components/SyncStorageDetails/styles.module.scss
  src/entrypoints/options/components/PerStorageSync/components/SyncStorageDetails/styles.module.scss.d.ts
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/entrypoints/options/hooks/useStorageState.ts
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome, prettier

feat(WIP,sync-backup): `gzip`-compress strings
  .gitignore
  biome.json
  packages/publish-extension/src/firefox/api.ts
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/helpers/arraySparseIndexes.ts
  src/helpers/concatUint8Arrays.ts
  src/helpers/shards/array.ts
  src/helpers/shards/constants.ts
  src/helpers/shards/gen.ts
  src/helpers/shards/generator.ts
  src/helpers/shards/shardUtils.ts
  src/helpers/shards/uint32.ts
  src/request/timeline.ts
  src/request/webRequestExt.ts
  src/storage/base.ts
  src/storage/blockedChannels/errors.ts
  src/storage/blockedChannels/helpers/recoverBlockedChannelsFromShards.ts
  src/storage/blockedChannels/helpers/shardBlockedChannels.ts
  src/storage/blockedChannels/index.ts
  src/storage/errors.ts
  src/storage/phrasesBlocklist/helpers/recoverPhrasesBlocklistFromShards.ts
  src/storage/phrasesBlocklist/index.ts
  src/storage/phrasesBlocklist/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
  src/types/util.ts
  utils/dev/scrapeChannels.ts
  utils/helpers/toAmoMarkdown.ts
Due: biome, dprint

feat(utils/dev/scrapeChannels): fetch all communities
  utils/dev/scrapeChannels.ts
Due: biome

feat(WIP,sync-backup): show details only in dev mode
  src/entrypoints/options/components/PerStorageSync/components/SyncStorageDetails/index.tsx
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/entrypoints/options/hooks/useIsDevMode.ts
  src/entrypoints/options/hooks/useStorageMergeCallback.ts
  src/entrypoints/options/pages/BlocklistPage/components/BlocklistSettings/index.tsx
  src/entrypoints/options/pages/SettingsPage/ExtensionSettings/index.tsx
  src/storage/settings/index.ts
  src/storage/settings/migrations.ts
  src/storage/settings/types.ts
  src/translation/data/en-US.ftl
  src/translation/data/ru-RU.ftl
Due: biome

fix(WIP,sync-backup): export to `sync` atomically
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/helpers/mapFilter.ts
  src/storage/base.ts
  src/storage/blockedChannels/helpers/recoverBlockedChannelsFromShards.ts
  src/storage/blockedChannels/index.ts
  src/storage/phrasesBlocklist/helpers/recoverPhrasesBlocklistFromShards.ts
  src/storage/phrasesBlocklist/index.ts
Due: biome

feat(WIP,sync-backup/details): include both `sync` and `local` in details
  src/entrypoints/options/components/PerStorageSync/components/SyncStorageDetails/index.tsx
  src/entrypoints/options/components/PerStorageSync/index.tsx
  src/storage/base.ts
Due: biome

feat(WIP,sync-backup): `gzip`-compress `Uint32Array` shards
  src/helpers/shards/array.ts
  src/helpers/shards/compression.ts
  src/helpers/shards/uint32.ts
  src/storage/blockedChannels/helpers/recoverBlockedChannelsFromShards.ts
  src/storage/blockedChannels/helpers/shardBlockedChannels.ts
Due: biome

feat(settings/blocklist): add search by channel id
  src/entrypoints/options/hooks/useStorageState.ts
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/index.tsx
  src/entrypoints/options/pages/BlockedChannelsPage/hooks/useSearch.ts
Due: biome

refactor(dev): add helper type to define migrations
  src/storage/backup/index.ts
  src/storage/blockedChannels/index.ts
  src/storage/blockedChannels/migrations.ts
  src/storage/blockedCoubTitles/index.ts
  src/storage/blockedCoubTitles/migrations.ts
  src/storage/blockedTags/index.ts
  src/storage/blockedTags/migrations.ts
  src/storage/blocklist/index.ts
  src/storage/blocklist/migrations.ts
  src/storage/migrations.ts
  src/storage/playerSettings/index.ts
  src/storage/playerSettings/migrations.ts
  src/storage/settings/index.ts
  src/storage/settings/migrations.ts
  src/storage/stats/index.ts
  src/storage/stats/migrations.ts
Due: biome

chore(deps): update dependencies
  CONTRIBUTING.md
  biome.json
  dprint.json
  package.json
  packages/publish-extension/package.json
  pnpm-lock.yaml
  src/entrypoints/options/components/Editor/styles.module.d.scss.ts
  src/entrypoints/options/components/ErrorBoundary/styles.module.d.scss.ts
  src/entrypoints/options/components/PerStorageSync/components/SyncStorageDetails/styles.module.d.scss.ts
  src/entrypoints/options/components/PhrasesBlocklist/styles.module.d.scss.ts
  src/entrypoints/options/pages/BlockedChannelsPage/components/BlockedChannelsTable/styles.module.d.scss.ts
  src/entrypoints/options/pages/PlayerSettingsPage/components/PlayerSettings/components/KeyboardShortcuts/styles.module.d.scss.ts
  src/entrypoints/options/pages/StatsPage/components/FilteredOutSection/styles.module.d.scss.ts
  src/events.ts
  src/storage/backup/index.ts
  src/storage/migrations.ts
  src/types/util.ts
Due: biome, dprint, prettier

chore(deps): update Node.js to `24.12.0`
  .nvmrc
  package.json
  packages/wxt-svg-icon/package.json
  pnpm-lock.yaml
Due: dprint, prettier

chore(deps): update `vite`
  package.json
  pnpm-lock.yaml
Due: dprint, prettier

fix(sync-backup): exclude `deviceName` and `isDevMode` from `settings` sync
  src/storage/base.ts
  src/storage/blockedChannels/index.ts
  src/storage/settings/index.ts
Due: biome
